doctype 5
html(lang="en")
	head
		title Test Page
		link(href="/css/game.css", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="http://d3js.org/d3.v2.js")
		script(src="/js/random.js")
		script(src="/js/array.js")
		script(src="/js/sound.js")
		script(src="/js/geom.js")
		script(src="/js/configger.js")
		script(src="/js/spawner.js")
		script(src="/js/killer.js")
		script(src="/js/actor.js")
		script(src="/js/world.js")
		script(src="/js/render/render.js")
		script(src="/js/render/render.blocks.js")
		script(src="/js/render/render.player.js")
		script(src="/js/render/render.particles.js")
		script(src="/js/render/render.cursor.js")
		script(src="/js/system.js")
		script(src="/js/controller.js")
		script(src="/js/particles.js")
		script(src="/js/test-page.js")
	body
		h1 Test Page
		center
			svg(height="500px", width="500px")